/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */

$primary-500: #009688;
$primary-600: #00897b;
$primary-700: #00796b;

$typography-spacing-vertical: 1rem;

@import '@picocss/pico/scss/pico.scss';

:root {
	--typography-spacing-vertical: 0.2rem;
	--team-orange: rgb(248, 197, 101);
	--team-blue: rgb(133, 161, 255);
}

h1 {
	--typography-spacing-vertical: 0.2rem;
}

table {
	table-layout: fixed;
	--spacing: 0.25rem;
	--font-size: 16px;
}

th:first-child,
td:first-child {
	text-align: right;
	width: 120px;
}
th:first-child {
	font-size: 2em;
}
td:first-child {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
th {
	vertical-align: bottom;
	width: 3.5rem;
}
td,
th {
	text-align: center;
}

article {
	padding: 0.5rem;
	border: 2px solid var(--muted-border-color);
	border-bottom: 4px solid var(--team-orange);
}
.player-card {
	max-width: 240px;
	font-size: 0.8em;
	border-bottom: 4px solid var(--muted-border-color);
}
.player-card.blue {
	border-bottom: 4px solid var(--team-blue);
}
.player-card.orange {
	border-bottom: 4px solid var(--team-orange);
}
.player-card-section {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 8px;
}
.player-card-ranks {
	grid-template-columns: 1fr;
}
.player-card-section > div {
	padding: 0.1em 0.4em;
	background-color: #52525226;
	display: grid;
	grid-template-columns: 1fr 1fr;
	border-radius: 4px;
	gap: 8px;
}
.player-card-ranks > div {
	display: flex;
}
.player-card-divider {
	margin: 0.3em auto;
	border: 1px solid var(--muted-border-color);
	max-width: 2rem;
}
